<section>
    <div class="container">
        <div class="row">
            <form>
                <label for="firstname">Name </label>
                <input type="text" name="name" required>
                <br>
                <label for="lastname">Category</label>
                <input type="text" name="category" required>
                <br>
                <label for="email">Description</label>
                <input type="email" name="description" required>
                <br>
                <label for="password">Image</label>
                <input type="password" name="image" required>
                <br>
                <button type="button" class="btn btn-success">Submit</button>

            </form>
        </div>
    </div>
</section>