<!-- Login page -->
<section>
    <div class="row ">
        <div class="col-md-6 m-auto">
            <div class="mt-4">
                <h4 class="center">Admin Login</h4>
            </div>
            {{#if LoginError}}
            <div class="mt-4">
                <p class="text-danger">{{LoginError}}</p>
            </div>
            {{/if}}
            <form action="admin/login" method="post">
                <div class="mt-3 form-group">
                    <label for="name">Email Address </label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                    <br>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <br>
                </div>
                {{!-- <a class="me-5" href="">Create new account ?</a> --}}
                <div class="center">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>
<style>
    .center {
        text-align: center;
    }
</style>