<!-- User Logout Section -->
<section>
    <div class="row ">
        <div class="col-md-6 m-auto">
            <div class="mt-4">
                <h4 class="center">Log out successfull</h4>
            </div>
            <div class="col-md-6 m-auto">
                <form action="/admin/admin-login" method="get" class="center mt-5">
                    <button type="submit" class="position-absolute ms-5 btn btn-success">Login Again?</button>
                </form>
            </div>
        </div>
    </div>
</section>
<style>
    .center{
        text-align: center;
    }
</style>