<!-- Admin Products view -->
<section>
    <div class="container">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Button</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td><a href="admin/user-order-detailes/{{this._id}}" class="btn btn-success">Order History</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>