<!-- Products view -->
<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td><img src="{{image}}" alt="" style="width: 180px;;"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>