<!-- User Logout Section -->
<!-- Login page -->
<section>
    <div class="row ">
        <div class="col-md-6 m-auto">
            <div class="mt-4">
                <h4 class="text-center">Log out successful</h4>
            </div>
            <div class="col-md-6 m-auto">
                <form action="/login" method="get" class="mt-5">
                    <button type="submit" class="ms-5 btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>