<!-- User Logout Section -->
<section>
    <div class="row ">
        <div class="col-md-6 m-auto">
            <div class="mt-4 text-center">
                <h4>Log out successfull</h4>
                <form action="/login" method="get" class="mt-5">
                    <button type="submit" class="btn btn-success">Login Again?</button>
                </form>
            </div>
        </div>
    </div>
</section>