<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="message-box _success _failed">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <h2> Your payment failed </h2>
                    <p> Try again later </p>

                </div>
            </div>
        </div>
    </div>
</section>
<style>
    ._failed {
        border-bottom: solid 4px red !important;
    }

    ._failed i {
        color: red !important;
    }
</style>


{{!-- message order placed, current order
button view order full list with date, products name, total price --}}