<!-- place order -->
<section>
    <div class="row">
        <div class="container">
            <form action="" id="checkout-form">
                <div class="col-md-5 ms-5 mt-5 float-start">
                    <h3>Enter Delivery Details </h3>
                    <div class="mb-3">
                        <label for="" class="form-label">Address</label>
                        <input name="address" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Pincode</label>
                        <input name="pincode" type="number" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Mobile Number</label>
                        <input name="mobile" type="number" class="form-control">

                        <input type="text" name="userId" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4 me-5 mt-5 float-end">
                    <div class="mt-5 checkout">
                        <h5>Total Amount: <span>{{total}}</span> Rs/-</h5>
                        <hr>
                        <h5>Payment method</h5>
                        <label class="mt-2"><input name="payment-method" value="COD" type="radio" id="method">
                            COD</label><br>
                        <label class="mt-2"><input name="payment-method" value="ONLINE" type="radio" id="method"> Online
                            Payment</label><br>
                        <button class="btn btn-primary mt-3 float-end ">Check out</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    //checkout form - payment method
    /**
     * if you are writing the script within hbs you may face an error '$ not defined'
     * this because of calling jquery library after execution of body
     * solution1: you can write a separate js file for writing the script
     * solution2: you can call the jquery library before body (in layout.hbs)
     */
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            //serialize: to get all data in form
            success: (response) => {
                alert(response)
            }

        })
    })
</script>
<style>
    .checkout {
        width: 230px;
        height: 320px;
        border: 1px solid;
        border-radius: 3px;
        padding: 40px;
    }
</style>