<!-- place order -->
<section>
    <div class="row">
        <div class="container">
            <form action="" id="checkout-form">
                <div class="col-md-5 ms-5 mt-5 float-start">
                    <h3>Enter Delivery Details </h3>
                    <div class="mb-3">
                        <label for="" class="form-label">Address</label>
                        <input name="address" type="text" class="form-control" value="Kerala">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Pincode</label>
                        <input name="pincode" type="number" class="form-control" value="123456">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Mobile Number</label>
                        <input name="mobile" type="number" class="form-control" value="1234567890">
                        <input type="text" name="userName" value="{{user.name}}" hidden>
                        <input type="text" name="userId" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4 me-5 mt-5 float-end">
                    <div class="mt-5 checkout">
                        <h5>Total Amount: <span>{{total}}</span> Rs/-</h5>
                        <hr>
                        <h5>Payment method</h5>
                        <label class="mt-2"><input name="payment-method" value="COD" type="radio" id="method">
                            COD</label><br>
                        <label class="mt-2"><input name="payment-method" value="ONLINE" type="radio" id="method"> Online
                            Payment</label><br>
                        <button class="btn btn-primary mt-3 float-end ">Check out</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    //checkout form - payment method
    /**
     * if you are writing the script within hbs you may face an error '$ not defined'
     * this because of calling jquery library after execution of body
     * solution1: you can write a separate js file for writing the script
     * solution2: you can call the jquery library before body (in layout.hbs)
     */
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            //serialize: to get all data in form
            success: (response) => {
                if (response.codSuccess) {
                    location.href = 'order-success',
                        method = 'get'
                } else {
                    razorpayPayment(response)
                }
            }

        })
    })

    /* 
    Check RazorPay document for more detailes and payment integration
    URL: https://razorpay.com/docs/payments/server-integration/nodejs/payment-gateway/build-integration/#13-create-an-order-in-server
    */

    function razorpayPayment(order) {
        // insert original keyId
        var options = {
            "key": "rzp_test_IvGWMBpENteAE2", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "StoreBuddy",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            method: 'post',
            data: {
                payment,
                order
            },
            success: (response) => {
                if (response.status) {
                    location.href = 'order-success',
                        method = 'get'
                } else {
                    location.href = 'order-failed',
                        method = 'get'
                }
            }
        })
    }
</script>
<style>
    .checkout {
        width: 230px;
        height: 320px;
        border: 1px solid;
        border-radius: 3px;
        padding: 40px;
    }
</style>